* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}


header {
    border: 1px gray solid;
    box-shadow: gray 3px 2px 5px 2px;
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
}
#h1-a {
    text-decoration: none;
    color: black;
}
.header-a {
    text-decoration: none;
    font-size: 19px;
    color: cyan;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.25s;
}

.header-a:hover {
    transform: scale(1.1);
    color: red;
}

#header-h1 {
    cursor: pointer;
}
i {
    color: cyan;
}

main {
    position: relative;
    top: 200px;
}

#photo {
    background-image: url(yeezy-hero.jpg);
    background-size: contain;
    width: 978px;
    height: 550px;
    border-radius: 30px;
    position: relative;
    left: 100px;
}


input{
    border: 2px cyan solid;
    width: 400px;
    height: 45px;
    border-radius: 8px;
    margin: 10px;
    padding-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#signup{
    position: relative;
    left:1150px ;
    bottom: 550px;
    width: 200px;
}

.up{
    color: cyan;
}

#sign_up{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    bottom: 35px;
    left: 150px;
    font-size: 40px;
}
#submit{
    border: 2px cyan solid;
    width: 415px;
    height: 40px;
    border-radius:8px ;
    background-color: cyan;
    cursor: pointer;   
    margin-left: 2px;
    color: white;
    transition: 0.5s;
    font-size: 20px;
    position: relative;
    left: 10px;
}

#submit:hover {
    transform: scale(1.05);
}
input{
    border: 2px cyan solid;
    width: 400px;
    height: 45px;
    border-radius: 8px;
    margin: 10px;
    padding-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


footer {
    background-color: white;
    height: 160px;
    text-align: center;
    margin-top: 50px;
    border: 1px gray solid;
    box-shadow: gray 3px 2px 5px 2px;
}
/* ესეც სანდრომ გააკეთა */
#footer-h2 {
    position: relative;
    top: 8px;
    color: black;
}
/* ესეც სანდრომ გააკეთა */
.footer-a {
    position: relative;
    top: 10px;
    margin: 10px;
    color: black;
    text-decoration: none;
}
/* ესეც სანდრომ გააკეთა */
#footer-p {
    font-size: 13px;
    position: relative;
    top: 10px;
    color: darkgrey;
}
@media (max-width:1623px) {
    #signup {
        position: relative;
        left: 1100px;
        
    }
    input {
        width: 300px;
    }
    #submit {
        width: 300px;
    }

}
@media (max-width:1450px) {
    #photo {
        display: none;
    }
    #signup {
        position: relative;
        top: 10px;
        left: 400px;
    }
    footer {
        position: relative;
        margin-top: 238px;
    }
    input {
        width: 400px;
    }
    #submit {
        width: 400px;
    }
    
}
@media (max-width:1000px) {
    #signup {
        left: 300px;
    }
}
@media (max-width:765px) {
    #signup {
        left: 180px;
    }
}
@media (max-width:635px) {
    #signup {
        left: 110px;
    }
}

@media (max-width:580px) {
    #signup {
        left: 80px;
    }
    #footer-h2 span {
        display: none;
    }
    .footer-a {
        font-size: 12px;
    }
}
@media (max-width:513px) {
    #signup {
        left: 45px;
    }
}
@media (max-width:477px) {
    #signup {
        left: 20px;
    }
}

.social {
    position: relative;
    top: 8px;
    margin: 10px;
    transition: 0.5s;
}

.social:hover {
    padding: 5px;
}