* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}


header {
    border: 1px gray solid;
    box-shadow: gray 3px 2px 5px 2px;
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
}

.header-a {
    text-decoration: none;
    font-size: 19px;
    color: cyan;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.25s;
}

.header-a:hover {
    transform: scale(1.1);
    color: red;
}

#header-h1 {
    cursor: pointer;
}
i {
    color: cyan;
}

main {
    position: relative;
    top: 200px;
}

#photo {
    background-image: url(yeezy-hero.jpg);
    background-size: contain;
    width: 978px;
    height: 550px;
    border-bottom-right-radius: 150px;
    border-top-right-radius: 5px;
    position: relative;
}


input{
    border: 2px cyan solid;
    width: 400px;
    height: 45px;
    border-radius: 8px;
    margin: 10px;
    padding-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#signup{
    position: relative;
    left:1200px ;
    bottom: 550px;
}

.up{
    color: cyan;
}

#sign_up{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    bottom: 35px;
    left: 150px;
    font-size: 40px;
}
#submit{
    border: 2px cyan solid;
    width: 415px;
    height: 40px;
    border-radius:8px ;
    background-color: cyan;
    cursor: pointer;   
    margin-left: 2px;
    color: white;
    transition: 0.5s;
    font-size: 20px;
}

#submit:hover {
    transform: scale(1.05);
}
input{
    border: 2px cyan solid;
    width: 400px;
    height: 45px;
    border-radius: 8px;
    margin: 10px;
    padding-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#Contact{
    position: relative;
    left:40% ;
    top: 300px;
}

.Us{
    color: cyan;
}

#contact_Us{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    bottom: 35px;
    left: 100px;
    font-size: 40px;
}
#submit{
    border: 2px cyan solid;
    width: 410px;
    height: 40px;
    border-radius:8px ;
    background-color: cyan;
    cursor: pointer;
    position: relative;
    left: 12px;
    color: white;
    transition: 0.5s;
    font-size: 20px;
}

#submit:hover {
    transform: scale(1.05);
}

footer {
    background-color: white;
    height: 150px;
    text-align: center;
    margin-top: 50px;
    border: 1px gray solid;
    box-shadow: gray 3px 2px 5px 2px;
}
/* ესეც სანდრომ გააკეთა */
#footer-h2 {
    position: relative;
    top: 50px;
    color: black;
}
/* ესეც სანდრომ გააკეთა */
.footer-a {
    position: relative;
    top: 50px;
    margin: 10px;
    color: black;
}
/* ესეც სანდრომ გააკეთა */
#footer-p {
    font-size: 13px;
    position: relative;
    top: 50px;
    color: darkgrey;
}


